.containt {
  padding-bottom: 27.77777778vw;
}
.comment {
  padding: 15px 10px;
  border-bottom: 1px #F2F2F2 solid;
}
.comment .comment-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.comment .comment-user {
  display: flex;
  align-items: center;
}
.comment .comment-user img {
  width: 11.11111111vw;
  height: 11.11111111vw;
  display: block;
  border-radius: 50px;
}
.comment .comment-user .user-info {
  padding-left: 5px ;
}
.comment .comment-user .user-info p {
  font-size: 15px;
}
.comment .comment-user .user-info span {
  font-size: 12px;
  color: #999;
}
.comment .user-hui {
  font-size: 13px;
  color: #999;
}
.comment .comment-content {
  font-size: 14px;
}
